@font-face {
  font-family: Bold;
  src: local("Bold"), url("Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Bold;
}

.hero {
  text-align: center;
}

#error,
.hero ul li,
.how_work .top_Sec,
.last_sec .div_form {
  position: relative;
}

.color_gradient {
  background: linear-gradient(to left, #b64332, #aa1d15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

#error {
  top: -5px;
  color: red;
  font-size: 14px;
  width: max-content;
  margin: 0 auto;
  padding: 0 5px 3px;
  background: #fcfefe;
  border-radius: 3px;
  border: 1px solid red;
  line-height: 1.2;
  opacity: 0;
  transition: 0.2s;
}

#error.active {
  opacity: 1;
}

.container {
  width: 95%;
  margin: auto;
}

.image_btn {
  width: 60%;
  margin: 0 auto;
}
.image_btn img{
    display: block;
}

.hero {
  background: #f0f0f1;
}

.hero ul li {
  font-size: 5vw;
  line-height: 1.2;
  padding: 2px 5px 5px;
  width: 90%;
  min-width: max-content;
  margin: 0 auto 8px;
  border-radius: 20px;
  box-shadow: -5px 4px 5px rgba(176, 176, 176, 0.133);
}

.hero ul li.red {
  background: linear-gradient(#b02a2b, #811817);
  color: #fff;
}
.hero ul li.white {
  color: #b02a2b;
  background: linear-gradient(#ffffff, #e9e9e9);
  border: 1px solid #1b1b1b5f;
}
.hero ul li.last {
  margin: 0 auto;
}

.hero ul img {
  display: block;
  margin-bottom: -1px;
}

/* result */
.result .top_sec {
  text-align: center;
}
.result h3 {
  background: #232323;
  color: #fff;
  font-size: 5.5vw;
}
.result h4 {
  font-size: 4.1vw;
  color: #fff;
  background: linear-gradient(#b02a2b, #811817);
  padding-bottom: 3px;
}
.result .content_result {
  background: url(../images/bg-result.jpg);
  background-size: cover;
  background-position: top;
  padding-top: 10px;
}
.result .image_btn{
    width: 65%;
}




/* doctor */

.doctor {
  background: url(../images/bg-doctor.jpg) top center/cover;
  padding-top: 60vw;
}
.doctor .center{
    text-align: center;
}
.doctor .center h5{
    font-size: 6vw;
    line-height: 1.2;
}
.doctor .center h4{
    color: #CC2A27;
    font-size: 10vw;
    line-height: 1.2;
    margin-bottom: 4px;
}
.doctor .center h3{
  background: linear-gradient(#b02a2b, #811817);
  width: max-content;
  margin: 0 auto;
  padding: 2px 40px;
  font-size: 3.5vw;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
}
.doctor .btm_doctor{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.doctor .btm_doctor::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 80px;
    background: #b02a2b;
}
.doctor .btm_doctor::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 80px;
    background: #232323;
}
.doctor .btm_doctor p{
    color: #fff;
    width: 40%;
    text-align: center;
    padding: 2px 6px;
    font-size: 3.3vw;
    border-radius: 8px;
    line-height: 1.4;

}
.doctor .btm_doctor p.red{
      background: linear-gradient(#b02a2b, #811817);
}
.doctor .btm_doctor p.black{
    background: #232323;
}











/* how_work */

.how_work {
  background: url(../images/bghowwork.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.how_work .logo {
  width: 30%;
  margin: 0 auto;
}
.how_work .top_Sec {
  padding-top: 10px;
}
.how_work .top_Sec p {
  color: #fff;
  font-size: 9vw;
  line-height: 1.1;
}
.how_work .top_Sec h5 {
  color: #edac33;
  font-size: 6.2vw;
  background: #000;
  width: max-content;
  margin: 0px auto 10px;
  padding: 2px 10px 8px;
  line-height: 0.8;

  text-shadow:
    -1px -1px 0 #232323,
     1px -1px 0 #232323,
    -1px  1px 0 #232323,
     1px  1px 0 #232323;
}

.how_work .btm_work .p_border {
  border-radius: 30px;
  margin-bottom: 10px;
}

.how_work .btm_work p {
  color: #fff;
  font-size: 4.6vw;
}
.how_work .save {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #fff;
  width: max-content;
  margin: 0 auto 10px;
  padding: 7px 8px 7px 12px;
  border-radius: 20px;
}

.how_work .save p {
  line-height: 1.2;
  font-size: 3.3vw;
}

.how_work .image_btn {
  width: 60%;
}
.how_work .save img {
  width: 10vw;
}

.last_sec * {
  font-family: Bold, sans-serif;
}

.last_sec {
  background: #131112;
}

.last_sec .div_pc {
  background: #cec6c7;
}

.last_sec .div_form {
  width: 100%;
  margin: auto auto 10px;
}

.last_sec .delv_text {
  padding: 5px 0 10px;
  position: relative;
  margin-bottom: 5px;
}

.last_sec .delv_text p {
  color: #232323;
  text-align: center;
  font-size: 6.5vw;
  line-height: 1.6;
}
.last_sec .div_pc img {
  display: block;
}

.last_sec .delv_text p.bg_red {
  background: linear-gradient(#b02a2b, #811817);
  color: #fff;
  padding: 2px 8px 8px;
  width: max-content;
  margin: auto;
  line-height: 1;
}

.last_sec .sm-p {
  font-size: 2.4vw;
  text-align: center;
  width: 95%;
  margin: 0 auto auto;
  line-height: 1.5;
  font-weight: 600;
  color: #cbcbcb;
}

.last_sec .div_form form {
  background: #505050;
  box-shadow: 5px 5px 8px #00000027;
  text-align: center;
  width: 95%;
  margin: 3px auto 0;
  border-radius: 20px;
  overflow: hidden;
}

.last_sec .div_form .content {
  padding: 12px 0;
}

.last_sec .div_form .content p {
  font-size: 5vw;
  line-height: 1.2;
  color: #fbfdfd;
  font-weight: 500;
}

.last_sec .div_form form input {
  width: 95%;
  padding: 15px 10px;
  font-size: 18px;
  box-shadow: 5px 5px 8px #00000031;
  outline: 0;
  margin-bottom: 12px;
  text-align: right;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid transparent;
}

.last_sec .div_form form input:focus {
  border: 1px solid #855aa5;
}

.last_sec form .div-btn {
  padding: 0 0 15px;
}

.last_sec form .div-btn .btn {
  outline: 0;
  border: none;
  cursor: pointer;
  background: linear-gradient(to left, #ac2b29, #7a1e1f);
  color: #fcfefe;
  font-size: 6.5vw;
  font-weight: bolder;
  padding: 1px 38px;
  border-radius: 20px;
  box-shadow: 0 5px 15px #5858586b;
}

.last_sec .footer .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
}

.last_sec .footer .boxs .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 33.3%;
  position: relative;
}

.last_sec .footer .boxs .box img {
  height: 24px;
  width: auto;
}

.last_sec .footer .boxs .box .img2 {
  height: 35px;
}

.last_sec .footer .boxs .box p {
  font-size: 2.4vw;
  line-height: 1.5;
  color: #cbcbcb;
}

@media (min-width: 600px) {
  .div-btn .btn {
    width: max-content;
    font-size: 25px;
  }

  .hero .top_image {
    width: 73%;
    margin: 0 auto;
  }

  .hero ul img {
    width: 73%;
    margin-inline: auto;
  }

  .hero ul li {
    font-size: 24px;
    margin: 0 auto;
    padding: 3px 12px;
  }

  .hero .image_btn,
  .hero ul li,
  .last_sec .div_form form {
    width: 70%;
  }

  .image_btn,
  .last_sec .div_form .flex_price .img_productt {
    width: 250px;
  }

  .last_sec .secret {
    margin-right: 90px;
    padding-right: 20px;
  }

  .how_work .top_Sec h3,
  .how_work .top_Sec p,
  .last_sec .delv_text p {
    font-size: 35px;
  }

  .how_work .top_Sec img,
  .last_sec .div_form form input,
  .last_sec .footer .boxs {
    width: 80%;
  }

  .how_work .btm_work .p_border {
    width: max-content;
    margin: 10px auto 20px;
    padding: 10px 15px 0;
  }

  .how_work .btm_work p,
  .last_sec .secret h3 {
    font-size: 22px;
  }

  .last_sec .div_form .text_price_img {
    width: 320px;
  }

  .last_sec .div_form .flex_price {
    justify-content: space-between;
  }

  .last_sec .div_form .content p {
    font-size: 20px;
  }

  .last_sec .sm-p {
    font-size: 15px;
  }

  .last_sec form .div-btn .btn {
    font-size: 25px;
  }

  .last_sec form .div-btn {
    width: 50%;
    margin-inline: auto;
  }

  .last_sec .footer .boxs .box .img2,
  .last_sec .footer .boxs .box img {
    height: 30px;
  }
}

@media (min-width: 710px) {
  .last_sec .div_form .text_price_img {
    margin-right: 90px;
  }
}

@media (min-width: 1000px) {
  .last_sec .div_form form input {
    margin-bottom: 25px;
  }

  .flex_Sec {
    display: flex;
  }

  .hero,
  .how_work,
  .last_sec .div_pc {
    width: 50%;
  }

  .footer,
  .last_sec {
    width: 100%;
  }

  .hero ul li,
  .last_sec .secret h3 {
    font-size: 20px;
  }

  .last_sec .div_form .content p,
  .last_sec .sm-p {
    margin-bottom: 10px;
  }

  .how_work .top_Sec p,
  .last_sec .delv_text p {
    font-size: 30px;
  }

  .how_work .top_Sec .text {
    padding-top: 0;
  }

  .how_work .top_Sec h3 {
    font-size: 25px;
  }

  .how_work .top_Sec img {
    width: 500px;
  }

  .last_sec .secret img {
    width: 60px;
  }
  .how_work .save p {
    font-size: 16px;
  }
  .how_work .save img {
    width: 55px;
  }
  .how_work .image_btn {
    width: 45%;
  }

  .last_sec .div_form .text_price_img {
    margin-bottom: 20px;
  }

  .last_sec .delv_text::after {
    display: none;
  }

  .last_sec .div_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .last_sec .div_form .div_flex {
    width: 45%;
  }

  .last_sec form .div-btn .btn {
    width: max-content;
    padding-inline: 30px;
  }

  .last_sec .sm-p {
    font-size: 1vw;
  }

  .last_sec .footer .boxs .box p {
    line-height: 1.4;
    font-size: 18px;
  }

  .last_sec .div_form .text_price_img {
    padding-bottom: 0;
    margin-right: 30px;
    width: 240px;
  }

  .last_sec .secret {
    margin-right: 30px;
  }

  .last_sec .div_form form {
    padding: 30px 0;
    width: 90%;
  }

  .last_sec .div_form .flex_price .img_productt {
    width: 180px;
    top: 2vw;
  }

  .footer {
    margin: auto;
  }

  .last_sec .footer .boxs {
    justify-content: center;
    gap: 100px;
  }

  .last_sec .footer .boxs .box img {
    height: 30px;
  }
  .last_sec .footer .boxs .box .img2 {
    height: 45px;
  }
}

@media (min-width: 1300px) {
  .hero .top_image {
    width: 70%;
    margin: 0 auto;
  }

  .hero ul li {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .last_sec .div_form form {
    width: 500px;
  }
  .hero ul li.red {
    box-shadow: none;
  }

  .last_sec .div_form .flex_price .img_productt {
    width: 210px;
    margin-left: 60px;
    top: 10px;
  }

  .last_sec .delv_text {
    margin-top: 30px;
  }

  .last_sec .div_form .content p {
    font-size: 22px;
  }

  .how_work .btm_work p {
    font-size: 20px;
  }

  .last_sec .div_form .text_price_img {
    margin-right: 90px;
    width: 240px;
  }

  .last_sec .secret {
    margin-right: 90px;
  }
}

body.thanks_page_page {
  background: url(../img/thanks-.jpg) center/cover;
  min-height: 100vh;
}

.thanks_page {
  text-align: center;
  padding-top: 30px;
}

.thanks_page h3 {
  font-size: 22px;
  margin: 0;
  color: #fcfefe;
}

.thanks_page p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fcfefe;
}

.thanks_page a {
  display: block;
  padding: 5px 30px;
  font-size: 20px;
  color: #fcfefe;
  background: linear-gradient(to left, #ac2b29, #7a1e1f);
  width: max-content;
  border-radius: 10px;
  margin: 0 auto 20px;
  box-shadow: 5px 5px 12px #1b1b1b8e;
}

.thanks_page .text img {
  width: 70px;
}

@media (min-width: 1000px) {
  .thanks_page p {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .thanks_page h3 {
    font-size: 25px;
    margin: 00px 0 8px;
  }

  .thanks_page .text img {
    width: 100px;
  }
}

@media (min-width: 500px) {
  body.thanks_page_page {
    background: #0f0f0f;
    min-height: 100vh;
  }
}
